@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Carolina";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/CarltineMedium-MVnzn.ttf") format("woff2");
}

@font-face {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/OpenSans-Light.ttf") format("woff2");
}

@font-face {
  font-family: "OpenSans-Semibold";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/OpenSans-Semibold.ttf") format("woff2");
}

@font-face {
  font-family: "Cassandra";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/CassandraPersonalUseRegular-3BjG.ttf") format("woff2");
}

.font-carltine-cm {
  font-family: "Carolina";
}

.font-cassandra-cm {
  font-family: "Cassandra";
}

.font-opensans-cm {
  font-family: "OpenSans-Regular";
}

.font-opensans-semibold-cm {
  font-family: "OpenSans-Semibold";
}

* {
  transition: filter 0.1s ease;
}

body {
  scroll-behavior: smooth;
}

@keyframes animation-on {
  0% {
    opacity: 0%;
    right: -100%;
  }
  100% {
    opacity: 100%;
    right: 0%;
  }
}

@keyframes animation-off {
  0% {
    right: 0%;
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    right: -100%;
  }
}

.animation-on {
  animation: animation-on 0.2s both ease-in-out;
}

.animation-off {
  animation: animation-off 0.2s both ease-in-out;
}
