@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Carolina";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/CarltineMedium-MVnzn.ttf") format("woff2");
}

@font-face {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/OpenSans-Light.ttf") format("woff2");
}

@font-face {
  font-family: "OpenSans-Semibold";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/OpenSans-Semibold.ttf") format("woff2");
}

@font-face {
  font-family: "Cassandra";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/CassandraPersonalUseRegular-3BjG.ttf") format("woff2");
}

.font-carltine-cm {
  font-family: "Carolina";
}

.font-cassandra-cm {
  font-family: "Cassandra";
}

.font-opensans-cm {
  font-family: "OpenSans-Regular";
}

.font-opensans-semibold-cm {
  font-family: "OpenSans-Semibold";
}

* {
  transition: filter 0.1s ease;
}

body {
  scroll-behavior: smooth;
}
